<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="text">
        <h1 class="">Eat better!</h1>
        <a href="/auth/signup">Get Started</a>
      </div>
    </div>
  </div>
  <hr>
  <div class="section row d-flex justify-content-around">
    <div class="card gallery col-md-3 text-center">
      <div class="card-body">
        <h5 class="card-title">Plan your meals and buy smartly</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        {{#if req.user}}
        <a href="/user/{{req.user._id}}" class="card-link">Let´s go! <i class="fas fa-long-arrow-alt-right"></i></a>
        {{else}}
        <a href="/auth/login" class="card-link">Let´s go! <i class="fas fa-long-arrow-alt-right"></i></a>
        {{/if}}
      </div>
    </div>
    <div class="card gallery col-md-3 text-center">
      <div class="card-body">
        <h5 class="card-title">Share your recipes and get inspired by your friends</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="/users" class="card-link">Find you friends <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
    <div class="card gallery col-md-3 text-center">
      <div class="card-body">
        <h5 class="card-title">Find alternatives for your special diets</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="/recipes" class="card-link">See more <i class="fas fa-long-arrow-alt-right"></i></a>
      </div>
    </div>
  </div>
  <hr>
  <h1 class="recipHeader mb-4">All time best rated recipes</h1>
  {{#with recipes}}
  <div class="recipes">
    <div class="card recipe mb-4">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{this.0.imgPath}} class="card-img" alt={{this.0.imgName}}>
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <a href="/recipe/{{this.0._id}}">
              <h5 class="card-title">{{this.0.title}}</h5>
            </a>
            <p class="card-text">{{this.0.shortDescription}}<span class="more">See more...</span></p>
            <div class="tag">
              {{#each this.0.tags}}
              <span class="{{this}}">#{{this}}</span>
              {{/each}}
              <span><i class="fas fa-heart ml-3"></i> 187</span>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
    <div class="card recipe mb-4">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src={{this.1.imgPath}} class="card-img" alt={{this.1.imgName}}>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <a href="/recipe/{{this.0._id}}">
              <h5 class="card-title">{{this.1.title}}</h5>
            </a>
            <p class="card-text">{{this.1.shortDescription}} <span class="more">See more...</span> </p>
            <div class="tag">
              {{#each this.0.tags}}
              <span class="{{this}}">#{{this}}</span>
              {{/each}}
              <span><i class="fas fa-heart ml-3"></i> 112</span>
            </div>
            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/with}}
</div>