{{#if userNoRecipes}}
<div class="profile">
  <div class="personalData">
    <img src="{{userNoRecipes.imgPath}}" alt="image{{userNoRecipes.username}}">
    {{!-- <input type="image" src="" alt="add image" onclick=""> --}}
    <div class="name mt-5">
      <h1>{{userNoRecipes.username}}</h1>
      {{#if isUser}}
      <a href="/edit/profile"><i class="fas fa-edit"></i></a>
      {{/if}}
    </div>
    <br>
    <div class="">
      {{!-- <span>{rating}</span> --}}
    </div>
    {{!-- thins links to tags go to the recipes of the tag --}}
    <div class="tagPro">
      <span class="gluten-free">#GlutenFree</span>
      <span class="vegetarian">#Veggie</span>
      <span class="dairy-free">#DairyFree</span>
    </div>
    <div class="numbers">
      <div class="follow">
        {{!-- <span>{{this.user.followers}}</span>  --}}
        <h6>Followers</h6>
        <span>{{userNoRecipes.followers}}</span>
      </div>
      <div class="follow">
        {{!-- <span>{{this.user.following}}</span> --}}
        <h6>Following</h6>
        <span>{{userNoRecipes.following}}</span>
      </div>
    </div>
  </div>
  {{/if}}
  {{#if foundUser}}
  <div class="profile">
    <div class="personalData">
      <img src="{{foundUser.imgPath}}" alt="image{{foundUser.username}}">
      {{!-- <input type="image" src="" alt="add image" onclick=""> --}}
      <div class="name mt-5">
        <h1>{{foundUser.username}}</h1>
        {{/if}}
        {{#if isUser}}
        <a href="/edit/profile"><i class="fas fa-edit"></i></a>
        {{/if}}
      </div>
      <br>
      <div class="">
        {{!-- <span>{rating}</span> --}}
      </div>
      {{!-- thins links to tags go to the recipes of the tag --}}
      {{#with userFound}}
      <div class="tagPro">
        {{#each this.tags}}
        <span class="{{this}}">#{{this}}</span>
        {{/each}}
      </div>
      {{/with}}
      <div class="numbers mt-4">
        {{#if foundUser}}
        <div class="follow">
          <h6>Followers</h6>
          <span>{{foundUser.followers}}</span>
        </div>
        <div class="follow">
          {{!-- <span>{{this.user.following}}</span>  --}}
          <h6>Following</h6>
          <span>{{foundUser.following}}</span>
        </div>
        {{/if}}
      </div>
    </div>
    <div class="dashboard">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone">
        {{#if isUser}}
        <label for="tabone"><a href="/user/{{foundUser._id}}">My recipes</a></label>
        {{else}}
        <label for="tabone"><a href="/user/{{foundUser._id}}">{{foundUser.username}} recipes</a></label>
        {{/if}}

        <input type="radio" name="tabs" id="tabtwo" checked="checked">
        {{#if isUser}}
        <label for="tabtwo"><a href="/liked-recipes/{{foundUser._id}}">My liked recipes</a></label>
        {{else}}
        <label for="tabtwo"><a href="/liked-recipes/{{userId._id}}">{{userId.username}} liked
            recipes</a></label>
        {{/if}}
        <div class="tab">

          <div class="recipesPro">
            <div class="myLikedRecipes">
              <div class="card-group">
                {{#each recipes}}
                <div class="card">
                  <img src={{this.imgPath}} class="card-img-top" id="imageRecipePro" alt={{this.imgName}}>
                  <div class="card-body text-center">
                    <h5 class="card-title">{{this.title}}</h5>
                    <p>{{this.shortDescription}}</p>
                    <div class="tagPro">
                      {{#each tags}}
                      <span class="{{this}}">#{{this}}</span>
                      {{/each}}
                    </div>
                  </div>
                </div>
                {{/each}}
                {{#if isUser}}
                <a href="/recipes"><i class="fas fa-plus-circle"></i></a>
                {{/if}}
              </div>
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree"><a href="/shopping-list/{{recipes.0.user_id._id}}">Shopping List</a></label>
        <div class="tab">
          <h1>My shopping list</h1>
          <p>COMING SOON</p>
        </div>
      </div>

    </div>
  </div>