<div class="profile">
  <div class="personalData">
    <img src="{{user.imgPath}}" alt="image{{user.username}}">
    {{!-- <input type="image" src="" alt="add image" onclick=""> --}}
    <div class="name mt-5">
      <h1>{{user.username}}</h1>
      <a href="/edit/profile"><i class="fas fa-edit"></i></a>
    </div>
    <br>
    <div class="">
      {{!-- <span>{rating}</span> --}}
    </div>
    {{!-- thins links to tags go to the recipes of the tag --}}
    <div class="tagPro">
      <span class="gluten-free">#GlutenFree</span>
      <span class="vegetarian">#Veggie</span>
      <br>
      <span class="dairy-free">#DairyFree</span>
    </div>
    {{!-- <div class="numbers mt-4">
      <div class="follow">
        {{!-- <span>{{this.user.followers}}</span> --}}
        {{!-- <span>{{user.followers}}</span>
        <h6>Followers</h6>
      </div>
      <div class="follow"> --}}
        {{!-- <span>{{this.user.following}}</span> --}}
        {{!-- <span>{{user.following}}</span> --}}
        {{!-- <h6>Following</h6> --}}
      {{!-- </div>
    </div> --}} 

  </div>
  <div class="dashboard">
    <div class="tabs">
      <input type="radio" name="tabs" id="tabone" checked="checked">
      <label for="tabone"><a href="/profile">My recipes</a></label>
      <div class="tab">
        <div class="recipesPro">
          <div class="card-group">
            {{#each recipes}}
            <div class="card">
              <img src={{this.imgPath}} class="card-img-top" alt={{this.imgName}}>
              <div class="card-body">
                <h5 class="card-title">{{this.title}}</h5>
                <div class="tagPro">
                  {{#each tags}}
                  <span class="{{this}}">#{{this}}</span>
                  {{/each}}
                </div>
              </div>
            </div>
            {{/each}}

            <a href="/recipes"><i class="fas fa-plus-circle"></i></a>
          </div>
        </div>
      </div>

      <input type="radio" name="tabs" id="tabtwo">
      <label for="tabtwo"><a href="/my-liked-recipes">My liked recipes</a></label>
      <div class="tab">


      </div>

      <input type="radio" name="tabs" id="tabthree">
      <label for="tabthree">Shopping List</label>
      <div class="tab">
        <h1>My shopping list</h1>
        <p>COMING SOON</p>
      </div>
    </div>

  </div>
</div>