<div class="displayAllRecipes container">
  <h2 class="text-center title">All the recipes</h2>
  <div class="recipes row">
    {{#each recipes}}
    <div class="card mb-3 recipesDisplay">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{this.imgPath}}" class="card-img " alt="...">
        </div>
        <div class="col-lg-8">
          <div class="card-body">
            <a href="/recipe/{{this._id}}">
              <h5 class="card-title">{{this.title}}</h5>
            </a>
            <p class="card-text">{{this.shortDescription}}</p>
            <div class="tag">

              {{#each tags}}
              <span class="{{this}}">#{{this}}</span>
              {{/each}}

            </div>
          </div>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>

<form action="/recipes?{{tags}}" method="POST" id="tag-filter">
  <input type="checkbox" name="tags" value="vegan">Vegan</option>
  <input type="checkbox" name="tags" value="vegetarian">Vegetarian</option>
  <input type="checkbox" name="tags" value="gluten-free">Gluten Free</option>
  <input type="checkbox" name="tags" value="dairy-free">Dairy Free</option>
  <input type="checkbox" name="tags" value="keto">Keto</option>
  <input type="checkbox" name="tags" value="macrobiotic">Macrobiotic</option>
  <input type="checkbox" name="tags" value="healthy">Healthy</option>
  <input type="checkbox" name="tags" value="low-sugar">Low sugar</option>
  <button type="submit">Filter diets</button>
</form>