{{#if userProfile}}
<h2>{{userProfile.username}}'s Profile</h2>
<img src="{{userProfile.imgPath}}" alt="Image {{userProfile.username}}">
<p>Followers: {{userProfile.followers}}</p>
<p>Following: {{userProfile.following}}</p>

{{/if}}

{{#with recipes.0.user_id}}
<h2>{{this.username}}'s Profile</h2>
<img src="{{this.imgPath}}" alt="Image {{this.username}}">
<p>Followers: {{this.followers}}</p>
<p>Following: {{this.following}}</p>
{{/with}}