Hola desde una sola receta
{{#with recipe}}
<img src="{{this.imgPath}}" class="card-img " alt="...">
<h5 class="card-title">{{this.title}}</h5>
<p>By: {{user_id.username}}</p>
<p class="card-text">{{this.shortDescription}}</p>
<p>Preparation time: {{this.preparationTime}}</p>
<p>Difficulty: {{this.difficulty}}</p>
<p>Servings: {{this.servings}}</p>
<div class="tag">
  {{#each tags}}
  <span class="{{this}}">#{{this}}</span>
  {{/each}}
</div>
<p>{{this.steps}}</p>
<ul>
  {{#each ingredients}}
  <li>{{this.quantity}} {{this.measure}} {{this.name}}</li>
  {{/each}}
</ul>
{{/with}}