<div class="container">
  <div class="selected">


    <div class="bodyRecipe">
      <div class="stepsInfo">
        <div class="displayTitle">
          <h5 class="title">{{recipe.title}}</h5>
          {{#if isUser}}
          <div class="updateButtons">
            <a href="/recipe/edit/{{recipe._id}}"><i class="far fa-edit hvr-bounce-in"></i></a>
            <a href="/recipe/delete/{{recipe._id}}"><i class="far fa-trash-alt hvr-bounce-in"></i></a>
          </div>
          {{/if}}

          {{#with recipe}}

          <div class="tag here mt-3">
            {{#each tags}}
            <span class="{{this}}">#{{this}}</span>
            {{/each}}
          </div>
          <p class="desc mt-3"> {{this.shortDescription}}</p>

          <div class="prepInfo">
            <div class="eachInfo">
              <p><i class="fas fa-clock"></i></p>
              <p class="number"> {{this.preparationTime}}</p>
            </div>
            <div class="eachInfo">
              <p>Servings</p>
              <p class="number">{{this.servings}}</p>
            </div>
            <div class="eachInfo">
              <p>Difficulty</p>
              <p class="number">{{this.difficulty}}</p>
            </div>
          </div>

        </div>

      </div>

      <div class="generalInfo">
        <img src="{{this.imgPath}}" class="imgRecipeId img-thumbnail" alt="...">
        <div class="buttonsRecipes">
          <p class="text-center">By <a href="/user/{{user_id._id}}"><span
                class="userName">{{user_id.username}}</span></a></p>
          {{#if isLiked}}
          <button id="buttonShop"><i class="fas fa-heart"></i></button>
          {{else}}
          <button id="buttonShop"><i class="fas fa-heart"></i></button>
          {{/if}}
          {{#if isSaved}}
          <button id="buttonShop" class="shopping-btn"> <i class="fas fa-shopping-cart"></i></button>
          {{else}}
          <button id="buttonShop"  class="shopping-btn"> <i class="fas fa-shopping-cart"></i></button>

          {{/if}}
          
          <a class="copi" href="javascript:getlink();"><button id="share" class="hvr-bounce-in"> <i
                class="fas fa-share-alt"></i></i></button></a>
        </div>
      </div>
    </div>


    <div class="processInfo">
      <ul class="list">
        <h4 class="subTitle mt-4">Ingredients</h4>
        {{#each ingredients}}
        <li class=""><i class="far fa-check-square"></i>{{this.quantity}} {{this.measure}} {{this.name}}</li>
        {{/each}}
      </ul>
      <div class="howTo">
        <h4 class="subTitle mt-3">How to do it?</h4>
        <p>{{this.steps}}</p>
      </div>

    </div>
    {{/with}}
  </div>
</div>

<script>

  let shoppingCart = document.querySelector(".shopping-btn");

  const recipe = JSON.parse('{{{id}}}');

  shoppingCart.onclick = function () {
    console.log("click!");
    fetch(`/update-list/${recipe._id}`)
      .then((res) => res.json())
      .then((response) => {
        console.log(response)
      
      });
  };
  
  
  let recipeLike = document.querySelector(".fa-heart")
  recipeLike.onclick = function () {
    console.log("click!");
    fetch(`/like-list/${recipe._id}`)
      .then((res) => res.json())
      .then((response) => {
        console.log(response)
      });
  };

</script>



<script>//<![CDATA[
  function getlink() {
    var aux = document.createElement("input");
    aux.setAttribute("value", window.location.href);
    document.body.appendChild(aux);
    aux.select();
    document.execCommand("copy");
    document.body.removeChild(aux);
  }
//]]></script>

