<div class="container">
  <div class="bodyRecipe">
{{#with recipe}}
<div class="generalInfo">
<img src="{{this.imgPath}}" class="imgRecipeId" alt="...">
<p>By: {{user_id.username}}</p>
<p class="">{{this.shortDescription}}</p>

<div class="tag">
  {{#each tags}}
  <span class="{{this}}">#{{this}}</span>
  {{/each}}
</div>
</div>
<div class="stepsInfo">
  <h5 class="">{{this.title}}</h5>
  <div class="prepInfo">
  <div class="eachInfo">
<p>Time of preparation</p>
<p> {{this.preparationTime}}</p>
</div>
<div class="eachInfo">
<p>Difficulty</p>
<p> {{this.difficulty}}</p>
</div>
<div class="eachInfo">
<p>Servings</p>
<p>{{this.servings}}</p>
</div>
</div>
<ul>
  {{#each ingredients}}
  <li>{{this.quantity}} {{this.measure}} {{this.name}}</li>
  {{/each}}
</ul>

<p>{{this.steps}}</p>
{{/with}}
</div>
</div>
</div>