{{#if userNoRecipes}}
<div class="profile">
  <div class="personalData">
    <img src="{{userNoRecipes.imgPath}}" alt="image{{userNoRecipes.username}}">
    {{!-- <input type="image" src="" alt="add image" onclick=""> --}}
    <div class="name mt-5">
      <h1>{{userNoRecipes.username}}</h1>
      {{#if isUser}}
      <form action="/userphoto/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
        <input type="file" name="userImg">
        <button type="submit">Update Image</button>
        {{!-- <a href="/edit/profile"><i class="fas fa-edit"></i></a> --}}
      </form>
      {{!-- <a href="/edit/profile"><i class="fas fa-edit"></i></a> --}}
      {{/if}}
    </div>
    <br>
    <div class="">
      {{!-- <span>{rating}</span> --}}
    </div>
    {{!-- thins links to tags go to the recipes of the tag --}}
    <div class="tagPro">
      <span class="gluten-free">#GlutenFree</span>
      <span class="vegetarian">#Veggie</span>
      <br>
      <span class="dairy-free">#DairyFree</span>
    </div>
    <div class="numbers">
      <div class="follow">
        <h6>Followers</h6>
        {{!-- <span>{{this.user.followers}}</span>  --}}
        <span>{{userNoRecipes.followers}}</span>
      </div>
      <div class="follow">
        <h6>Following</h6>
        {{!-- <span>{{this.user.following}}</span>  --}}
        <span>{{userNoRecipes.following}}</span>
      </div>
    </div>
  </div>
  {{/if}}


  {{#with recipes.0.user_id}}
  <div class="profile">
    <div class="personalData">
      <img src="{{this.imgPath}}" alt="image{{this.username}}">
      {{!-- <input type="image" src="" alt="add image" onclick=""> --}}
      <div class="name">
        <h1>{{this.username}}</h1>
        {{/with}}
        {{#if isUser}}
        <form action="/userphoto/edit/{{user._id}}" method="POST" enctype="multipart/form-data">
          <input type="file" name="userImg">
          <button type="submit">Update Image</button>
          {{!-- <a href="/edit/profile"><i class="fas fa-edit"></i></a> --}}
        </form>
        {{!-- <a href="/edit/profile"><i class="fas fa-edit"></i></a> --}}
        {{/if}}
      </div>
      <br>
      <div class="">
        {{!-- <span>{rating}</span> --}}
      </div>
      {{!-- thins links to tags go to the recipes of the tag --}}
      <div class="tagPro">
        <span class="gluten-free">#GlutenFree</span>
        <span class="vegetarian">#Veggie</span>
        <span class="dairy-free">#DairyFree</span>
      </div>
      <div class="numbers">
        <div class="follow">
          {{!-- <span>{{this.user.followers}}</span>  --}}
          {{#with recipes.0.user_id}}
          <h6>Followers </h6>
          <span>{{this.followers}}</span>
        </div>
        <div class="follow">
          {{!-- <span>{{this.user.following}}</span>  --}}
          <h6>Following </h6>
          <span>{{this.following}}</span>
        </div>
      </div>
    </div>
    {{/with}}
    <div class="dashboard">
      <div class="tabs">
        <input type="radio" name="tabs" id="tabone" checked="checked">
        {{#if isUser}}
        <label for="tabone"><a href="/user/{{recipes.0.user_id._id}}">My recipes</a></label>
        {{else}}
        <label for="tabone"><a href="/user/{{recipes.0.user_id._id}}">{{recipes.0.user_id.username}} recipes</a></label>
        {{/if}}

        <div class="tab">
          <div class="recipesPro">
            <div class="card-group">
              {{#each recipes}}
              <div class="card">
                <img src={{this.imgPath}} id="imageRecipePro" class="card-img-top" alt={{this.imgName}}>
                <div class="card-body text-center">
                  <h5 class="card-title">{{this.title}}</h5>
                  <p>{{this.shortDescription}}</p>
                  <div class="tagPro">
                    {{#each tags}}
                    <span class="{{this}}">#{{this}}</span>
                    {{/each}}
                  </div>
                </div>
              </div>
              {{/each}}
              {{#if isUser}}
              <a href="/new-recipe"><i class="fas fa-plus-circle"></i></a>
              {{/if}}
            </div>
          </div>
        </div>

        <input type="radio" name="tabs" id="tabtwo">
        {{#if isUser}}
        <label for="tabtwo"><a href="/liked-recipes/{{recipes.0.user_id._id}}">My liked recipes</a></label>
        {{else}}
        <label for="tabtwo"><a href="/liked-recipes/{{recipes.0.user_id._id}}">{{recipes.0.user_id.username}} liked
            recipes</a></label>
        {{/if}}
        <div class="tab">


        </div>

        <input type="radio" name="tabs" id="tabthree">
        <label for="tabthree"><a href="/shopping-list">Shopping List</a></label>
        <div class="tab">
          <h1>My shopping list</h1>
          <p>COMING SOON</p>
        </div>
      </div>

    </div>
  </div>